.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar content content";
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: black;
  color: white;
}
