.sidebar-item {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #4b5155;
  border-radius: 5px;
  color: white;
  transition: background-color 0.15s;

  &:hover {
    background-color: #d5d5d5;
  }

  & p {
    margin: 0;
    font-size: 14px;
  }
}
