.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sidebar;
  height: 100vh;
  width: 150px;
  background-color: #f0f0f0;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #4b5155;
  border-radius: 5px;
  color: white;
  transition: background-color 0.15s;

  &:hover {
    background-color: #6c757d;
  }

  & p {
    margin: 0;
    font-size: 14px;
  }
}
